@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --width-xs: 16rem;
    --width-sm: 24rem;
    --width-md: 28rem;
    --width-lg: 32rem;
    --width-xl: 1200px;
    --font-color: #769FCD;
    --hover-color: #B9D7EA;
    --hover-color-2: #5687c0;
    --active-color: #B9D7EA;
    --background-color: #F7FBFC;
    --background-color-2: #D6E6F2;
    --border-color: 1px solid #B9D7EA;
    --backdrop-color: rgba(0, 0, 0, 0.4);
    --drop-shadow: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
}

html[data-color-mode="dark"] {
    --width-xs: 16rem;
    --width-sm: 24rem;
    --width-md: 28rem;
    --width-lg: 32rem;
    --width-xl: 1200px;
    --font-color: #A5D7E8;
    --hover-color: #576CBC;
    --hover-color-2: #B9D7EA;
    --active-color: #576CBC;
    --background-color: #0B2447;
    --background-color-2: #19376D;
    --border-color: 1px solid #576CBC;
    --backdrop-color: rgba(0, 0, 0, 0.4);
    --drop-shadow: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
}

.background-color {
    background-color: var(--background-color);
}

.font-color {
    color: var(--font-color);
}

.backdrop-color {
    color: var(--backdrop-color);
}

.font-mini {
    font-size: 9px;
}

.elipsis-1 {
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
}

.elipsis-3 {
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.nav {
    border-bottom: var(--border-color);
    background-color: var(--background-color-2);
}

.nav__container {
    display: flex;
    margin: 0 auto;
    padding: 10px 12px;
    max-width: var(--width-xl);
    justify-content: space-between;
}

.nav__brand, .nav__button {
    display: flex;
    align-items: center;
}

.nav__brand h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
    text-transform: uppercase;
}

.nav__button button {
    cursor: pointer;
    padding: 8px 12px;
    color: var(--font-color);
    background-color: var(--background-color-2);
}

.nav__hamburger button:active {
    background-color: var(--active-color);
}

.nav__navigation {
    top: 55px;
    width: 100%;
    z-index: 10;
    left: -1000px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    background-color: var(--background-color-2);
}

.nav__navigation.open {
    left: 0;
}

.nav__link {
    width: 100%;
    padding: 12px;
    display: inline-block;
    color: var(--font-color);
}

.nav__link:hover {
    background-color: var(--hover-color);
}

main {
    flex-grow: 1;
    margin-bottom: 2rem;
}

.jumbotron {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron h1 {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 40px;
    color: var(--font-color);
    text-transform: capitalize;
    border: var(--border-color);
}

.gallery__list {
    gap: 12px;
    display: flex;
    margin: 0 12px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--width-xl);
}

.gallery__box {
    cursor: pointer;
    filter: var(--drop-shadow);
}

.gallery__box img {
    max-width: 100%;
}

.gallery__judul {
    font-weight: 500;
    margin-top: -50px;
    position: relative;
    color: var(--font-color);
    border-radius: 45px 0 0 0;
    padding: 16px 16px 16px 28px;
    background-color: var(--background-color-2);
}

.gallery__box:hover .gallery__judul {
    color: var(--hover-color-2);
    background-color: var(--hover-color);
}

footer {
    padding: 12px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
    border-top: var(--border-color);
    background-color: var(--background-color-2);
}

.modal__backdrop {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    display: none;
    overflow: auto;
    position: fixed;
    background-color: var(--backdrop-color);
}

.modal__close {
    top: 10px;
    right: 17px;
    padding: 8px;
    cursor: pointer;
    position: absolute;
}

.modal__close:hover {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
    width: 95vw;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__gallery {
    filter: var(--drop-shadow);
}

.modal__gallery__img,
.modal__gallery__intermediate__img,
.gallery__advanced__img {
    display: flex;
    justify-content: center;
}

.modal__gallery__img img,
.modal__gallery__intermediate__img img {
    width: 100%;
}

.modal__gallery__detail {
    margin-top: -50px;
    position: relative;
    color: var(--font-color);
    border-radius: 65px 0 0 0;
    padding: 36px 36px 36px 52px;
    background-color: var(--background-color-2);
}

.modal__gallery__detail h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.modal__gallery__detail p {
    line-height: 24px;
}

.modal__gallery__deskripsi {
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
}

.gallery__intermediate__box {
    padding: 0 12px;
}

.gallery__intermediate__item {
    cursor: pointer;
    filter: var(--drop-shadow);
}

.gallery__intermediate__detail {
    margin-top: -50px;
    position: relative;
    color: var(--font-color);
    border-radius: 55px 0 0 0;
    padding: 16px 16px 16px 36px;
    background-color: var(--background-color-2);
}

.gallery__intermediate__item:hover .gallery__intermediate__detail {
    background-color: var(--hover-color);
}

.gallery__intermediate__item:hover .gallery__intermediate__detail h2 {
    color: var(--hover-color-2);
}

.gallery__intermediate__detail h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

.gallery__intermediate__detail p {
    line-height: 20px;
}

.modal__gallery__intermediate {
    display: flex;
    flex-direction: column;
    filter: var(--drop-shadow);
    background-color: var(--background-color-2);
}

.modal__gallery__intermediate__img {
    flex-basis: 65%;
}

.modal__gallery__intermediate__detail {
    gap: 20px;
    display: flex;
    padding: 24px;
    flex-basis: 35%;
    line-height: 30px;
    margin-top: -90px;
    flex-direction: column;
    color: var(--font-color);
}

.modal__gallery__intermediate__detail h2 {
    font-size: 24px;
    margin-top: 24px;
    font-weight: 600;
    text-align: center;
}

.modal__gallery__intermediate__detail p {
    flex-grow: 1;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
}

.modal__gallery__intermediate__share {
    gap: 24px;
    display: flex;
    justify-content: center;
}

.share__item {
    gap: 9px;
    width: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--font-color);
    transition: all .01s ease-in-out;
}

.share__item:hover {
    color: var(--hover-color-2);
}

.gallery__advanced__list {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 80vh;
    max-width: var(--width-xl);
}

.gallery__advanced__box {
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    max-height: 30vh;
    align-items: center;
    justify-content: center;
    border: var(--border-color);
}

.gallery__advanced__box:nth-child(1) {
    max-height: 25vh;
    flex-basis: 33.1%;
}

.gallery__advanced__box:nth-child(2) {
    max-height: 25vh;
    flex-basis: 33.1%;
}

.gallery__advanced__box:nth-child(3) {
    max-height: 25vh;
    flex-basis: 33.1%;
}

.gallery__advanced__box:nth-child(5) {
    max-height: 25vh;
    flex-basis: 49.5%;
}

.gallery__advanced__box:nth-child(6) {
    max-height: 25vh;
    flex-basis: 49.5%;
}

.gallery__advanced__box:nth-child(7) {
    flex-basis: 19.8%;
}

.gallery__advanced__box:nth-child(8) {
    flex-basis: 19.8%;
}

.gallery__advanced__box:nth-child(9) {
    flex-basis: 19.8%;
}

.gallery__advanced__box:nth-child(10) {
    flex-basis: 19.8%;
}

.gallery__advanced__box:nth-child(11) {
    flex-basis: 19.8%;
}

.gallery__advanced__img {
    flex-grow: 1;
}

.gallery__advanced__img img {
    width: 100%;
    object-fit: cover;
}

.gallery__advanced__box:hover .gallery__advanced__img img {
    transform: scale(1.25);
}

.modal__prev {
    top: 50%;
    left: 0;
    padding: 8px;
    cursor: pointer;
    position: absolute;
}

.modal__prev:hover {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__next {
    top: 50%;
    right: 0;
    padding: 8px;
    cursor: pointer;
    position: absolute;
}

.modal__next:hover {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__advanced {
    display: none;
}

.modal__button__group {
    display: none;
}

#btn__theme {
    cursor: pointer;
}
