@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --width-xl: 1200px;
    --font-color: #769FCD;
    --hover-color: #B9D7EA;
    --hover-color-2: #5687c0;
    --active-color: #B9D7EA;
    --background-nav: #D6E6F2;
    --background-color: #F7FBFC;
    --border-color: 1px solid #B9D7EA;
    --backdrop-color: rgba(0, 0, 0, 0.25);
}

.background-color {
    background-color: var(--background-color);
}

.font-color {
    color: var(--font-color);
}

.backdrop-color {
    color: var(--backdrop-color);
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.nav {
    border-bottom: var(--border-color);
    background-color: var(--background-nav);
}

.nav__container {
    display: flex;
    margin: 0 auto;
    padding: 10px 12px;
    max-width: var(--width-xl);
    justify-content: space-between;
}

.nav__brand, .nav__button {
    display: flex;
    align-items: center;
}

.nav__brand h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
    text-transform: uppercase;
}

.nav__button button {
    cursor: pointer;
    padding: 8px 12px;
    color: var(--font-color);
    background-color: var(--background-nav);
}

.nav__hamburger button:active {
    background-color: var(--active-color);
}

.nav__navigation {
    top: 55px;
    width: 100%;
    left: -1000px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    transition: all 0.3s;
    background-color: var(--background-nav);
}

.nav__navigation.open {
    left: 0;
}

.nav__link {
    display: inline-block;
    color: var(--font-color);
    padding: 12px;
    width: 100%;
}

.nav__link:hover {
    background-color: var(--hover-color);
}