@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --width-xs: 16rem;
    --width-sm: 24rem;
    --width-md: 28rem;
    --width-lg: 32rem;
    --width-xl: 1200px;
    --font-color: #769FCD;
    --hover-color: #B9D7EA;
    --hover-color-2: #5687c0;
    --active-color: #B9D7EA;
    --background-color: #F7FBFC;
    --background-color-2: #D6E6F2;
    --border-color: 1px solid #B9D7EA;
    --backdrop-color: rgba(0, 0, 0, 0.25);
}

.background-color {
    background-color: var(--background-color);
}

.font-color {
    color: var(--font-color);
}

.backdrop-color {
    color: var(--backdrop-color);
}

.elipsis-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.nav {
    border-bottom: var(--border-color);
    background-color: var(--background-color-2);
}

.nav__container {
    display: flex;
    margin: 0 auto;
    padding: 10px 12px;
    max-width: var(--width-xl);
    justify-content: space-between;
}

.nav__brand, .nav__button {
    display: flex;
    align-items: center;
}

.nav__brand h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
    text-transform: uppercase;
}

.nav__button button {
    cursor: pointer;
    padding: 8px 12px;
    color: var(--font-color);
    background-color: var(--background-color-2);
}

.nav__hamburger button:active {
    background-color: var(--active-color);
}

.nav__navigation {
    top: 55px;
    width: 100%;
    left: -1000px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    transition: all 0.3s;
    background-color: var(--background-color-2);
}

.nav__navigation.open {
    left: 0;
}

.nav__link {
    display: inline-block;
    color: var(--font-color);
    padding: 12px;
    width: 100%;
}

.nav__link:hover {
    background-color: var(--hover-color);
}

main {
    flex-grow: 1;
    margin: 0 auto;
    max-width: var(--width-xl);
    margin-bottom: 2rem;
}

.jumbotron {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron h1 {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 40px;
    color: var(--font-color);
    text-transform: capitalize;
    border: var(--border-color);
}

.gallery__list {
    gap: 12px;
    display: flex;
    margin: 0 12px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__box {
    cursor: pointer;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
}

.gallery__box img {
    max-width: 100%;
}

.gallery__judul {
    font-weight: 600;
    margin-top: -52px;
    position: relative;
    color: var(--font-color);
    border-radius: 45px 0 0 0;
    padding: 16px 16px 16px 28px;
    background-color: var(--background-color-2);
}

.gallery__box:hover .gallery__judul {
    background-color: var(--hover-color);
}

footer {
    padding: 12px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
    border-top: var(--border-color);
    background-color: var(--background-color-2);
}