@media screen and (min-width: 600px) {
    .nav__brand h1 {
        font-size: 22px;
    }

    .nav__button {
        display: none;
    }

    .nav__navigation {
        position: static;
        width: auto;
        border-radius: 0;
    }

    .nav__navigation ul {
        display: flex;
        gap: 20px;
    }

    .nav__link {
        font-weight: 500;
        padding: 8px 0;
    }

    .nav__link:hover {
        color: var(--hover-color-2);
        background-color: var(--background-nav);
    }

    .jumbotron {
        height: 30vh;
    }

    .jumbotron h1 {
        font-size: 40px;
    }

    main {
        margin-bottom: 6rem;
    }

    .gallery__list {
        gap: 36px;
    }

    .gallery__box img {
        max-width: var(--width-xs);
    }
}

@media screen and (min-width: 800px) {
    .modal__content {
        width: 70vw;
    }

    .modal__gallery__detail {
        margin-top: -80px;
    }
}

@media screen and (min-width: 1200px) {
    .modal__content {
        width: 50vw;
    }

    .modal__gallery__detail {
        margin-top: -160px;
    }
}